.slider {
  position: relative;
  padding-block: 3.5rem;

  &__bg {
    &-image {
      position: absolute;
      overflow: hidden;
      z-index: -1;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      background: white;

      &:first-child {
        top: -4rem;
        left: -2rem;
        transform: scale(0.75);
      }
      &:nth-child(2) {
        top: -4rem;
        left: 12rem;
      }
      &:nth-child(3) {
        top: 6rem;
        left: 6rem;
      }
      &:nth-child(4) {
        top: -4rem;
        right: 8rem;
        transform: scale(1.2);
      }
      &:nth-child(5) {
        top: 6rem;
        right: 2rem;
      }
    }
  }

  &__top {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;

    h4 {
      font-weight: 700;
      line-height: 1.4;
      text-align: center;

      span {
        padding-inline: 1rem;
        border-radius: 2.5rem;
        background: #c2deff;
      }

      &:first-child {
        font-size: 2.47463rem;
        color: var(--blue);
        font-family: var(--space-grotesk);
      }

      &:last-child {
        font-size: 2.5rem;
        color: #0f164a;
      }
    }
  }

  &__bottom {
    position: relative;
    padding: 3.5rem 5rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 60%;
      background: linear-gradient(90deg, #4481eb 0%, #04befe 100%),
        linear-gradient(0deg, #305fd3 0%, #305fd3 100%), #d9d9d9;
      border-radius: 2rem;
    }
  }

  h3 {
    margin-inline: -1rem;
    margin-bottom: 2.5rem;
    color: #fff;
    text-align: center;
    font-family: var(--space-grotesk);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  &__content {
    padding: 1rem 2rem 2rem;
    border-radius: 1rem;
    background: linear-gradient(
      136deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(58px);
    box-shadow: 0 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);

    &-top {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &-dots {
      display: flex;
      gap: 0.5rem;

      span {
        width: 1rem;
        height: 1rem;
        background: #fff;
        border-radius: 50%;
      }
    }

    &-url {
      flex: 1;
      padding: 1rem;
      border-radius: 0.875rem;
      background: #fff;
      color: #8993ae;
      font-family: var(--dm-sans);
      font-size: 1.35906rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}

.swiper {
  &-button {
    &-prev,
    &-next {
      width: 5rem;
      height: 5rem;
      background: #fff;
      border-radius: 50%;
      color: #000;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

      &::after {
        font-size: 2rem;
      }
    }

    &-prev {
      left: -2.5rem;
    }

    &-next {
      right: -2.5rem;
    }
  }

  &-pagination {
    bottom: -2rem !important;

    &-bullet {
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: unset;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #12224a;
        transition: all 0.2s ease-in-out;
      }

      &.swiper-pagination-bullet-active {
        outline: 2px solid #1e29e1;

        &::before {
          background: #1e29e1;
        }
      }
    }
  }

  &-slide {
    opacity: 0.3;
    transition: opacity 1.5s ease-out;

    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }

    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

// 1600px
@media (max-width: 1600px) {
  .slider {
    padding-block: 2.5rem;

    &__bg {
      &-image {
        width: 8rem;
        height: 8rem;

        &:first-child {
          top: -2rem;
          left: -2rem;
          transform: scale(0.75);
        }

        &:nth-child(2) {
          top: -2rem;
          left: 10rem;
        }
        &:nth-child(3) {
          top: 4rem;
          left: 4rem;
        }
        &:nth-child(4) {
          top: -2rem;
          right: 6rem;
        }
        &:nth-child(5) {
          top: 4rem;
          right: 0;
        }
      }
    }

    &__top {
      h4 {
        &:first-child {
          font-size: 1.9rem;
        }

        &:last-child {
          font-size: 2rem;
        }
      }
    }

    &__bottom {
      padding: 1rem 2.5rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &__content {
      padding: 0.875rem 1.5rem 1.5rem;
      border-radius: 0.875rem;
      backdrop-filter: blur(40px);

      &-top {
        margin-bottom: 0.875rem;
        gap: 1rem;
      }

      &-dots {
        span {
          width: 0.625rem;
          height: 0.625rem;
        }
      }

      &-url {
        font-size: 0.875rem;
        padding: 0.625rem 1rem;
        border-radius: 0.625rem;
      }
    }
  }

  .swiper {
    &-button {
      &-prev,
      &-next {
        width: 3.5rem;
        height: 3.5rem;

        &::after {
          font-size: 1rem;
        }
      }

      &-prev {
        left: -1.75rem;
      }

      &-next {
        right: -1.75rem;
      }
    }

    &-pagination {
      &-bullet {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

// 1024px
@media (max-width: 1024px) {
  .slider {
    &__bg {
      display: none;
    }
  }
}

// 840px
@media (max-width: 840px) {
  .slider {
    &__bg {
      display: none;
    }

    &__top {
      margin-bottom: 2rem;

      h4 {
        &:first-child {
          font-size: 1.6rem;
        }

        &:last-child {
          font-size: 1.7rem;
        }
      }
    }

    &__bottom {
      position: relative;
      padding: 2rem;
    }

    h3 {
      margin-inline: 0;
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    &__content {
      padding: 0.5rem 1rem;
      backdrop-filter: blur(30px);

      &-top {
        margin-bottom: 0.5rem;
        gap: 1rem;
      }

      &-dots {
        gap: 0.25rem;

        span {
          width: 0.5rem;
          height: 0.5rem;
        }
      }

      &-url {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.625rem;
      }
    }
  }

  .swiper {
    &-button {
      &-prev,
      &-next {
        display: none;
      }
    }

    &-pagination {
      &-bullet {
        width: 1rem;
        height: 1rem;

        &::before {
          width: 0.375rem;
          height: 0.375rem;
        }

        &.swiper-pagination-bullet-active {
          outline: 1px solid #1e29e1;
        }
      }
    }
  }
}

// 540px
@media (max-width: 540px) {
  .slider {
    padding-block: 2rem;

    &__top {
      h4 {
        &:first-child {
          font-size: 1.3rem;
        }

        &:last-child {
          font-size: 1.4rem;
        }
      }
    }

    &__bottom {
      padding: 0.75rem;
      padding-bottom: 2rem;

      &::before {
        border-radius: 0.5rem;
      }
    }

    h3 {
      margin-bottom: 0.85rem;
      font-size: 1.25rem;
    }

    &__content {
      padding: 0.3rem 0.65rem;
      border-radius: 0.28281rem;
      backdrop-filter: blur(17.917936325073242px);

      &-top {
        margin-bottom: 0.3rem;
        gap: 0.5rem;
      }

      &-dots {
        gap: 0.2rem;

        span {
          width: 0.25rem;
          height: 0.25rem;
        }
      }

      &-url {
        padding: 0.3rem 0.5rem;
        border-radius: 0.3rem;
        font-size: 0.42rem;
      }
    }
  }

  .swiper {
    &-pagination {
      &-bullets {
        &.swiper-pagination-horizontal {
          bottom: 0;
        }
      }
    }
  }
}
