// Components
.auto__container {
  margin-inline: auto;
  padding: 0 3.75rem;
  max-width: 86.25rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.625rem;
  font-family: var(--manrope);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  &.primary {
    color: #fafbff;
    background: linear-gradient(90deg, #4481eb 0%, #04befe 100%), #0052f0;
    box-shadow: 0px 10px 16px 0px rgba(105, 149, 232, 0.32);

    &:hover {
      color: #0052f0;
      outline: 2px solid #0052f0;
      background: linear-gradient(
        to right,
        rgba(69, 130, 235, 0.1),
        rgba(4, 190, 254, 0.1)
      );
    }

    svg {
      margin-left: 0.625rem;
    }
  }

  &.link {
    color: #0052f0;
  }

  &.pilled {
    padding: 0.875rem 2.875rem;
    border-radius: 5.625rem;
  }
}

.section__top {
  margin-bottom: 2.5rem;
  text-align: center;

  h4 {
    margin-bottom: 0.5rem;
    color: #0f164a;
    font-family: var(--space-grotesk);
    font-size: 2.5rem;
    font-weight: 700;

    span {
      white-space: nowrap;
      padding: 0 1rem;
      color: #4793eb;
      border-radius: 2.5rem;
      background: #c2deff;
    }
  }

  p {
    color: #5e707b;
    font-size: 1.25rem;
    line-height: 1.65;
  }
}

.switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  margin-inline: 1rem;
  cursor: pointer;
  text-indent: -9999px;
  width: 4.875rem;
  height: 2.25rem;
  background: #212b36;
  display: block;
  border-radius: 2.25rem;
  position: relative;
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.185rem;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  background: #fff;
  border-radius: 1.8rem;
  transition: 0.3s;
}

.switch:checked + .switch-label {
  background: #017aff;
}

.switch:checked + .switch-label:after {
  left: calc(100% - 0.185rem);
  transform: translate(-100%, -50%);
}

.switch-label:active:after {
  width: 3.15rem;
}

// 1600px
@media (max-width: 1600px) {
  .auto__container {
    max-width: 70rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  .section__top {
    margin-bottom: 2rem;

    h4 {
      font-size: 2rem;

      span {
        border-radius: 2rem;
      }
    }

    p {
      font-size: 1rem;
    }
  }

  .switch-label {
    width: 4.2rem;
    height: 2rem;
    border-radius: 2rem;
  }

  .switch-label:after {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
  }
}

// 1024px
@media (max-width: 1024px) {
  .auto__container {
    padding: 0 2rem;
  }
}

// 540px
@media (max-width: 540px) {
  .auto__container {
    padding: 0 1rem;
  }

  .button {
    font-size: 0.75rem;
  }

  .section__top {
    margin-bottom: 1.7rem;

    h4 {
      font-size: 1.875rem;
    }

    p {
      font-size: 1.0625rem;
    }
  }
}
