/*********************  Default-CSS  *********************/

input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
}

input[type='file']::-moz-file-upload-button {
    cursor: pointer;
}

input[type='file']::-ms-file-upload-button {
    cursor: pointer;
}

input[type='file']::-o-file-upload-button {
    cursor: pointer;
}

input[type='file'],
a[href],
input[type='submit'],
input[type='button'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

::-moz-focus-inner {
    border: 0px solid transparent;
}

::-webkit-focus-inner {
    border: 0px solid transparent;
}

*::-moz-selection {
    color: #fff;

    background: #000;
}

*::-webkit-selection {
    color: #fff;

    background: #000;
}

*::-webkit-input-placeholder {
    color: #333333;

    opacity: 1;
}

*:-moz-placeholder {
    color: #333333;

    opacity: 1;
}

*::-moz-placeholder {
    color: #333333;

    opacity: 1;
}

*:-ms-input-placeholder {
    color: #333333;

    opacity: 1;
}

html body {
    font-family: 'Poppins';

    margin: 0;

    line-height: 1.3;

    overflow-x: hidden;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;

    -webkit-transition: all 0.5s ease 0s;

    -moz-transition: all 0.5s ease 0s;

    -ms-transition: all 0.5s ease 0s;

    -o-transition: all 0.5s ease 0s;

    transition: all 0.5s ease 0s;
}

a,
span,
div a:hover,
div a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    -o-box-sizing: border-box;

    box-sizing: border-box;
}

.no-list li,
.no-list ul,
.no-list ol,
footer li,
footer ul,
footer ol,
header li,
header ul,
header ol {
    list-style: inside none none;
}

.no-list ul,
.no-list ol,
footer ul,
footer ol,
header ul,
header ol {
    margin: 0;

    padding: 0;
}

a {
    outline: none;

    color: #555;
}

a:hover {
    color: #000;
}

body .clearfix,
body .clear {
    clear: both;

    line-height: 100%;
}

body .clearfix {
    height: auto;
}

* {
    outline: none !important;
}

table {
    border-collapse: collapse;

    border-spacing: 0;
}

ul:after,
li:after,
.clr:after,
.clearfix:after,
.container:after,
.grve-container:after {
    clear: both;

    display: block;

    content: '';
}

div input,
div select,
div textarea,
div button {
    font-family: 'Poppins';
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Poppins';

    line-height: 120%;

    color: #333;

    font-weight: bold;

    margin: 0 0 15px;
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
    margin-bottom: 0;
}

div select {
    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;
}

div select option {
    font-size: 13px;

    color: #333;

    padding: 2px 5px;
}

img {
    margin: 0 auto;

    max-width: 100%;

    max-height: 100%;

    /*width: auto;

    height: auto;*/
}

body p {
    color: #333;

    font-family: 'Poppins';

    font-size: 15px;

    line-height: 140%;

    margin: 0 0 15px;

    padding: 0;
}

body p:empty {
    margin: 0;

    line-height: 0;
}

body p:last-child {
    margin-bottom: 0;
}

p strong {
    font-weight: bold;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

label em {
    color: #ff0000;

    display: inline-block;

    font-style: normal;

    vertical-align: top;

    margin-left: 5px;
}

.hidden {
    display: none !important;
}

body .container {
    margin: 0 auto;
    width: 100%;

    max-width: 1285px;
}

/*********************  scroll Hide  *********************/

html.show-menu {
    overflow: hidden;
}

html.show-menu body {
    overflow: hidden;

    height: 100%;
}

/*********************  Default-CSS close  *********************/

/*********************  Gapping  *********************/

.p-60 {
    padding-bottom: 60px;

    padding-top: 60px;
}

/*********************  Gapping close  *********************/

/*********************  Default-CSS  *********************/

/*********************  Common-Css  *******************/

.clr:after,
ul:after,
.clearfix:after,
li:after,
.grve-container:after {
    clear: both;

    display: block;

    content: '';
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

/*********************  Common-Css Close  *******************/

/*********************  Header  *******************/

header {
    left: 0;

    /*position: fixed;*/

    right: 0;

    top: 0;

    transition: all 0.5s;

    z-index: 999;
}

.navbar-expand-lg {
    display: flex;

    justify-content: center;

    padding: 10px 0;

    transition: all 0.5s;
}

.menu-navs {
    margin-left: 127px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    width: 15px;

    transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:after {
    content: '';

    position: absolute;

    bottom: 0;

    left: 0;

    width: 0;

    height: 2px;

    background: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link.active:after {
    width: 15px;
}

.btns-ul {
    margin-right: 0;
}

.sign-btn {
    font-family: 'Poppins';

    font-style: normal;

    font-weight: 600;

    font-size: 16px;

    line-height: 160%;

    letter-spacing: 0.004em;

    color: #1e2532;

    padding: 8px 24px;

    border-radius: 4rem;

    transition: all 0.5s;

    background: #fff;

    margin-left: 10px;
}

.sign-btn:hover {
    color: #fd4d5d;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Poppins';

    font-size: 18px;

    line-height: 160%;

    letter-spacing: 0.004em;

    color: #ffffff;

    padding: 6px 0;

    margin: 0 45px 0px 0px;

    position: relative;
}

.login-btn {
    font-family: 'Poppins';

    font-style: normal;

    font-weight: 600;

    font-size: 16px;

    line-height: 160%;

    letter-spacing: 0.004em;

    color: #ffffff;

    padding: 8px 24px;

    border-radius: 4rem;

    transition: all 0.5s;

    background: transparent;
}

.login-btn:hover {
    background: #fff;

    color: #fd4d5d;
}

header.fixed {
    background: #fd4d5d;

    transition: all 0.5s;

    box-shadow: 0 0 60px 0px #00000010;
}

header.fixed .navbar-expand-lg {
    padding: 10px 0;
}

/*********************  Header Close  *******************/

/*********************  Hero banner  *******************/

.hero-section {
    position: relative;

    height: 930px;

    z-index: 1;
}

.hero-section::after {
    content: '';

    background-image: url('../images/hero-banner.svg');

    position: absolute;

    width: 100%;

    height: 100%;

    background-size: contain;

    background-repeat: no-repeat;

    left: -311px;

    top: 0;

    z-index: -14;
}
.hero-section .container {
    height: 100%;

    max-width: 1320px;
}

.hero-wrap {
    display: flex;

    align-items: center;

    position: relative;

    height: 100%;
}

.hero-info {
    width: 100% !important;

    margin-left: auto;

    margin-top: -170px;
}

.hero-info h1 {
    font-family: 'Nunito';

    font-style: normal;

    font-weight: bold;

    font-size: 87px;

    line-height: 107px;

    color: #ffffff;
}

div#home-carousel {
    max-width: 897.28px;

    border-radius: 22.5441px;

    overflow: auto;

    border: 10px solid #000b33;

    background: #000b33;

    margin-top: -60px;

    position: relative;

    left: -20px;

    width: 660px;
}

.hero-slider-item {
    width: 100%;

    height: 100%;
}

.hero-slider-item img {
    width: 100%;

    height: 100%;

    object-fit: cover;

    margin-left: -1px;
}

div#customNav button {
    background: #ffffff;

    box-shadow: 25px 23px 56px rgba(27, 49, 66, 0.15);

    border-radius: 90px;

    display: flex;

    align-items: center;

    justify-content: center;

    width: 66px;

    height: 66px;

    border: none;

    font-size: 24px;

    color: #1f1f1f;

    margin: 0 10px;
}

div#customNav {
    display: flex;

    align-items: center;

    justify-content: center;

    position: relative;

    z-index: 1;

    max-width: 897.28px;

    margin-top: -29px;

    left: -30px;
}

div#customNav button:hover {
    background: #fd4d5d;

    color: #fff;
}

.hero-banner {
    position: relative;
}

.round-sphere {
    position: absolute;

    bottom: -55px;

    right: -80px;

    z-index: 1;

    width: 160px;

    height: 160px;

    transform: translate(0, 0);

    animation: roundSphere 4s alternate-reverse infinite;
}

@keyframes roundSphere {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(4px, 3px);
    }

    50% {
        transform: translate(6px, 0px);
    }

    75% {
        transform: translate(1px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.hand {
    position: absolute;

    bottom: 60px;

    left: -240px;

    animation: handSphere 4s alternate-reverse infinite;
}

@keyframes handSphere {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-4px, -3px);
    }

    50% {
        transform: translate(-6px, 0px);
    }

    75% {
        transform: translate(-1px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.round-sphere img {
    width: 100%;

    height: 100%;

    object-fit: contain;

    object-position: center;
}

.ellipse-owl {
    display: block;

    position: absolute;

    top: -50px;

    right: 63px;

    width: 190px;

    height: 190px;

    background: #fd4d5d;

    border-radius: 100%;

    animation: ellipseOwl 6s alternate-reverse infinite;
}

@keyframes ellipseOwl {
    0% {
        background: #fd4d5d;
    }

    25% {
        background: #e87fc1;
    }

    50% {
        background: #fd4d5d;
    }

    75% {
        background: #e3afc5;
    }

    100% {
        background: #fd4d5d;
    }
}

/*********************  Hero banner Close  *******************/

/*********************  Coin info  *******************/

.coin-section {
    padding-top: 39px;

    position: relative;
}

.coin-section:after {
    content: '';

    background-image: url('../images/lines.png');

    width: 905px;

    height: 1208px;

    position: absolute;

    right: 0;

    top: -300px;

    z-index: -1;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: right;
}

.coin-section:before {
    content: '';

    background-image: url('../images/cube.png');

    width: 375.74px;

    height: 352.69px;

    position: absolute;

    left: -6%;

    bottom: -30px;

    z-index: -1;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: right;

    animation: cube 4s alternate-reverse infinite;
}

@keyframes cube {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-4px, -3px);
    }

    50% {
        transform: translate(-6px, 0px);
    }

    75% {
        transform: translate(-1px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.coin-left-info {
    position: relative;

    max-width: 100%;
}

.coin-left-info h5 {
    font-family: 'Roboto';

    font-size: 31.6px;

    line-height: 34px;

    /* or 137% */

    /* color 4 */

    color: #000b33;

    margin-bottom: 32px;
}

.coin-left-info p {
    font-family: 'Nunito';

    font-style: normal;

    font-weight: normal;

    font-size: 20.7px;

    line-height: 27px;

    /* or 130% */

    /* color 4 */

    color: #000b33;

    opacity: 0.8;

    max-width: 92%;

    margin-bottom: 29px;
}

.coin-left-info ul {
    list-style: none;

    padding: 0;

    margin: 0;
}

.coin-left-info ul li {
    display: flex;

    align-items: center;

    margin-bottom: 30px;
}

.coin-left-info ul li span {
    width: 52px;

    height: 52px;

    display: block;

    margin-right: 20px;

    min-width: 52px;
}

.coin-left-info ul li i {
    font-family: 'Nunito';

    /* identical to box height, or 130% */

    /* color 4 */

    font-style: normal;

    font-weight: 600;

    font-size: 19.4px;

    line-height: 25px;

    /* identical to box height, or 130% */

    /* color 4 */

    color: #000b33;

    max-width: 480px;
}

.coin-left-info h6 {
    font-family: 'Nunito';

    font-weight: 600;

    font-size: 20.5px;

    line-height: 27px;

    /* identical to box height, or 130% */

    color: #d32131;

    opacity: 0.8;

    margin-bottom: 20px;

    margin-top: 0;
}

.btn-red {
    font-family: 'Nunito';

    font-weight: 600;

    font-size: 16px;

    /* identical to box height, or 150% */

    text-align: center;

    /* color 5 */

    color: #ffffff;

    background: #fd4e5e;

    box-shadow: 0px 18px 22px rgba(253, 78, 94, 0.17);

    border-radius: 13px;

    padding: 14px 34px;

    transition: all 0.5s;

    border: 2px solid #fd4e5e;
}

.btn-red:hover {
    color: #fd4e5e;

    background: #fff;
}

.coin-right-info h4 {
    font-family: 'Nunito';

    font-weight: bold;

    font-size: 29px;

    line-height: 39px;

    /* or 42px */

    text-align: center;

    color: #000000;

    margin: 0 auto 22px;

    max-width: 90%;
}

.coin-right-info ul {
    padding: 0;

    list-style: none;

    display: flex;
}

.coin-right-info ul li {
    background: #ffffff;

    border: 0.743108px solid #d5ddfb;

    border-radius: 6.43108px;

    transition: all 0.5s;

    padding: 20px 10px;

    text-align: center;

    margin: 6px;

    width: 33.33%;
}

.coin-right-info ul li:hover {
    box-shadow: 0px 2.97243px 29.7243px rgba(4, 9, 27, 0.08);

    transition: all 0.5s;

    border-color: transparent;
}

.coin-right-info ul li span {
    width: 60px;

    height: 60px;

    display: block;

    margin: 0 auto 6px;
}

.coin-right-info ul li h5 {
    font-family: 'Poppins';

    font-weight: 600;

    font-size: 17.422px;

    line-height: 19px;

    /* identical to box height, or 111% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 18px;
}

.coin-right-info ul li p {
    width: 160px;

    height: 30px;

    margin: 0 auto 8px;

    border-radius: 4rem;

    display: flex;

    align-items: center;

    justify-content: center;

    position: relative;

    font-family: 'Poppins';

    font-weight: normal;

    font-size: 14px;

    /* identical to box height, or 129% */

    text-align: center;

    color: #000000;
}

.coin-right-info ul li p i {
    width: 6px;

    height: 6px;

    left: 25px;

    border-radius: 4rem;

    margin-right: 9px;
}

.bg-blue-tag {
    background: #f4f8ff;
}

.bg-blue-tag i {
    background: #539ee2;
}

.bg-green-tag {
    background: #effaf7;
}

.bg-green-tag i {
    background: #47de00;
}

.bg-red-tag {
    background: #fff4f5;
}

.bg-red-tag i {
    background: #f33e60;
}

.coin-right-info ul li h6 {
    font-family: 'Poppins';

    font-weight: 600;

    font-size: 13px;

    line-height: 19px;

    /* identical to box height, or 149% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-top: 22px;
}

.coin-laptop-video {
    position: relative;

    display: block;

    z-index: 1;

    margin-top: 80px;
}

.coin-laptop-video::after {
    content: '';

    background-image: url('../images/laptop.png');

    width: 100%;

    height: 100%;

    background-size: contain;

    background-repeat: no-repeat;

    position: absolute;

    top: 50%;

    transform: translate(-50%, -50%);

    left: 50%;

    z-index: -1;
}

.coin-laptop-video a {
    width: 100%;

    display: block;

    padding: 90px;

    position: relative;

    top: -66px;

    overflow: hidden;

    z-index: 9;
}

.coin-laptop-video a img {
    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 4px;
}

.coin-laptop-video a:after {
    content: '';

    background-image: url(../images/play-btn.svg);

    animation: playBtn 4s infinite;

    width: 80px;

    height: 80px;

    position: absolute;

    top: 50%;

    transform: translate(-50%, -50%);

    left: 50%;

    background-size: contain;

    background-repeat: no-repeat;

    box-shadow: 0 0 0px 7px #ffffff62;

    border-radius: 100%;
}

@keyframes playBtn {
    0% {
        box-shadow: 0 0 0px 7px #ffffff62;
    }

    25% {
        box-shadow: 0 0 0px 9px #ffffff41;
    }

    50% {
        box-shadow: 0 0 0px 11px #ffffff21;
    }

    100% {
        box-shadow: 0 0 0px 13px #fff0;
    }
}

/*********************  Coin info Close  *******************/

/*********************  dashboard-section  *******************/

.blur-round {
    position: absolute;

    top: -50px;

    right: 0;

    background: #e8125c;

    opacity: 0.1;

    /* Layer Blur */

    filter: blur(380px);

    width: 428px;

    height: 311px;
}

.dashboard-section {
    position: relative;

    padding-bottom: 0;

    padding-top: 28px;
}

.dashboard-header h4 {
    font-family: 'Poppins';

    font-weight: 500;

    font-size: 25px;

    line-height: 41px;

    /* identical to box height, or 145% */

    /* State/Bold (Black) */

    color: #11142d;

    margin: 0;
}

.dashboard-section h3 {
    font-family: 'Nunito';

    font-weight: 900;

    font-size: 30px;

    line-height: 66px;

    /* identical to box height, or 147% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 13px;
}

.dashboard-header {
    display: flex;

    align-items: center;

    margin-bottom: 30px;
}

.dashboard-item {
    background: rgba(255, 255, 255, 0.92);

    box-shadow: 0px 43.1671px 137.35px rgba(0, 0, 0, 0.08);

    border-radius: 31.3942px;

    padding: 25px 7px;

    position: relative;

    z-index: 9;
}

.custom-pills {
    margin-left: auto;

    position: relative;

    z-index: 1;
}

.custom-pills .nav-link {
    background: #ccd7ff;

    border-radius: 13px;

    color: #1a3bbc;

    font-family: 'Nunito';

    font-weight: 600;

    font-size: 14.7543px;

    padding: 12px 22px;

    margin-left: 17px;
}

.custom-pills.nav-pills .nav-link.active,
.custom-pills.nav-pills .show > .nav-link {
    background: #627eea;

    box-shadow: 0px 18px 22px rgba(98, 126, 234, 0.29);
}

.tabel-main {
    width: 100%;

    border-spacing: 0px 15px;

    border-collapse: separate;
}

.tabel-main thead {
    background: rgb(228 228 228 / 20%);

    mix-blend-mode: normal;

    border-radius: 10.1737px;

    overflow: hidden;
}

.tabel-main thead tr th {
    font-family: 'Inter';

    font-style: normal;

    font-weight: 600;

    font-size: 13px;

    line-height: 31px;

    /* or 203% */

    letter-spacing: 1.27171px;

    text-transform: uppercase;

    /* State/Light */

    color: #808191;

    padding: 10px;
}

.tabel-main thead tr th:nth-child(1) {
    border-radius: 14px 0 0 14px;

    padding-left: 24px;
}

.tabel-main thead tr th:nth-last-child(1) {
    border-radius: 0 14px 14px 0;
}

.tabel-main tbody tr:nth-child(even) {
    background: rgb(228 228 228 / 20%);

    overflow: hidden;
}

.tabel-main tbody tr td {
    padding: 10px;

    font-family: 'Inter';

    font-weight: 600;

    font-size: 14px;

    line-height: 31px;

    /* identical to box height, or 191% */

    /* State/Bold (Black) */

    color: #11142d;

    padding: 17px 10px;
}

.tabel-main tbody tr td:nth-child(1) {
    border-radius: 14px 0 0 14px;

    padding-left: 24px;
}

.tabel-main tbody tr td:nth-last-child(1) {
    border-radius: 0 14px 14px 0;

    padding-right: 25px;
}

.tabel-coin-wrap {
    display: flex;

    align-items: center;
}

.tabel-coin-wrap span {
    width: 35px;

    height: 35px;

    display: block;

    border-radius: 100%;

    margin-right: 8px;

    min-width: 40px;
}

.tabel-coin-wrap p {
    font-family: 'Inter';

    font-weight: 600;

    font-size: 14px;

    line-height: 31px;

    /* identical to box height, or 191% */

    /* State/Bold (Black) */

    color: #11142d;

    margin: 0;

    display: flex;

    align-items: center;
}

.tabel-coin-wrap p span {
    color: #99999a;

    width: auto;

    min-width: auto;

    height: auto;

    margin: 0 0 0 5px;
}

.btn-buy {
    font-family: 'Inter';

    font-weight: 600;

    font-size: 14px;

    line-height: 31px;

    /* identical to box height, or 191% */

    color: #ffffff;

    background: #17c91e;

    border-radius: 8px;

    padding: 5px 14px;

    border: 1px solid #17c91e;

    transition: all 0.5s;
}

.btn-buy:hover {
    background: transparent;

    color: #17c91e;
}

.btn-sell {
    font-family: 'Inter';

    font-weight: 600;

    font-size: 14px;

    line-height: 31px;

    color: #ffffff;

    background: #ff2d2d;

    border-radius: 8px;

    padding: 5px 14px;

    border: 1px solid #ff2d2d;

    transition: all 0.5s;
}

.btn-sell:hover {
    background: transparent;

    color: #ff2d2d;
}

.tag {
    font-family: 'Inter';

    font-weight: 600;

    font-size: 14px;

    line-height: 31px;

    padding: 5px 18px;

    border-radius: 8px;

    text-align: center;
}

.green-tag {
    color: #00bd07;

    background: #ccffd7;
}

.red-tag {
    background: #ffcccc;

    color: #e50e0e;
}

.dashboard-section:after {
    content: '';

    background-image: url('../images/bit-coins.png');

    position: absolute;

    bottom: 120px;

    width: 130px;

    height: 150px;

    left: 0;

    background-repeat: no-repeat;

    background-size: contain;

    background-position: left;

    animation: cube 4s alternate-reverse infinite;
}

.dashboard-section:before {
    content: '';

    background-image: url('../images/coins.svg');

    width: 146px;

    height: 82px;

    position: absolute;

    bottom: -170px;

    right: 40px;

    z-index: -1;

    background-size: contain;

    background-repeat: no-repeat;

    animation: cube 4s alternate-reverse infinite;
}

.over-auto {
    overflow: auto;
}

/*********************  dashboard-section Close  *******************/

/*********************  SIGNAL accuracy  *******************/

.accuracy-section {
    padding: 25px 0 40px;
}

.accuracy-section h4 {
    font-family: 'Nunito';

    font-weight: 800;

    font-size: 38px;

    line-height: 66px;

    /* or 147% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 24px;
}

.accuracy-section h6 {
    font-family: 'Nunito';

    font-weight: 700;

    font-size: 32px;

    line-height: 50px;

    /* or 142% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    max-width: 840px;

    margin: 0 auto 50px;
}

.accuracy-card {
    background: #ffffff;

    box-shadow: 0px 11px 51px rgba(0, 0, 0, 0.09);

    border-radius: 11px;

    padding: 35px 45px;

    position: relative;

    margin-bottom: 60px;
}

.accuracy-card p {
    font-family: 'Nunito';

    font-weight: 600;

    font-size: 24px;

    line-height: 1.8;

    /* or 40px */
}

.red-card p {
    color: #f05f6b;
}

.red-card:after {
    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 7px;

    height: 100%;

    background: #f05f6b;

    border-radius: 4rem;
}

.purple-card p {
    color: #4333dd;
}

.purple-card::after {
    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 7px;

    height: 100%;

    background: #4333dd;

    border-radius: 4rem;
}

/*********************  SIGNAL accuracy Close  *******************/

/*********************  featured  *******************/

.featured-secton {
    padding: 0px 0 140px;

    position: relative;
}

.featured-secton h3 {
    font-family: 'Nunito';

    font-weight: 800;

    font-size: 44px;

    line-height: 66px;

    text-align: center;

    color: #000b33;

    margin-bottom: 40px;
}

#featured-owl {
    position: relative;

    max-width: 90%;

    margin: 0 auto;

    background: rgba(255, 255, 255, 0.74);

    border: 1.46934px solid #ffffff;

    box-sizing: border-box;

    box-shadow: 44.0802px 41.3671px 176.321px rgba(27, 49, 66, 0.09);

    border-radius: 24.0506px;

    padding: 0 30px;

    z-index: 7;
}

.client-box {
    width: 152px;

    height: 152px;

    background: #ffffff;

    box-shadow: 2px 2px 91.0196px rgb(0 0 0 / 8%);

    display: flex;

    align-items: center;

    border-radius: 100%;

    padding: 30px;

    margin: 90px 40px;
}

.featured-owl-span {
    background: rgba(255, 255, 255, 0.7);

    border: 1.46934px solid #ffffff;

    box-sizing: border-box;

    box-shadow: 44.0802px 102.854px 176.321px rgba(27, 49, 66, 0.05);

    backdrop-filter: blur(10.2854px);

    border-radius: 73.467px;

    width: 60%;

    height: 80%;

    position: absolute;

    top: 37px;

    left: 50%;

    transform: translateX(-50%);

    z-index: -4;
}

#featured-owl .owl-nav button {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    z-index: 56;

    width: 76px;

    height: 76px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 24px !important;

    color: #1f1f1f !important;

    background: #fff !important;

    border-radius: 100%;
}

#featured-owl .owl-nav button.owl-prev {
    left: -38px;
}

#featured-owl .owl-nav button.owl-next {
    right: -38px;
}

#featured-owl .owl-nav button:hover {
    background: #fd4d5d !important;

    color: #fff !important;
}

/*********************  featured Close  *******************/

/*********************  crypto-box  *******************/

.crypto-box {
    position: relative;

    padding: 60px 20px 0 20px;

    text-align: center;

    z-index: 1;

    margin-bottom: 120px;
}

.crypto-box:after {
    content: '';

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 91%;

    background: #f4f4f4;

    border: 1px solid #fd4e5e;

    border-radius: 14px;

    z-index: -1;
}

.crypto-section {
    padding: 50px 0 60px;
}

.crypto-box h3 {
    font-family: 'Nunito';

    font-weight: 800;

    font-size: 65px;

    line-height: 66px;

    /* identical to box height, or 102% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 25px;
}

.crypto-box h3 span {
    color: #fd4e5e;
}

.crypto-box p {
    font-family: 'Nunito';

    font-weight: 600;

    font-size: 25px;

    line-height: 35px;

    /* identical to box height, or 139% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 15px;
}

.crypto-box h6 {
    font-family: 'Nunito';

    font-weight: 600;

    font-size: 25px;

    line-height: 35px;

    /* identical to box height, or 139% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    margin-bottom: 32px;
}

.crypto-box .btn-red {
    padding: 13px 34px;

    font-size: 20px;
}

.crypto-section h2 {
    font-family: Nunito;

    font-style: normal;

    font-weight: 800;

    font-size: 45px;

    line-height: 66px;

    /* or 147% */

    text-align: center;

    /* color 4 */

    color: #000b33;

    max-width: 938px;

    margin: 0 auto;
}

/*********************  crypto-box Close  *******************/

/*********************  crypto-aggregator Start  *******************/

.aggregator-section {
    position: relative;

    padding: 60px 0 160px;

    z-index: 1;
}

.aggregator-section::after {
    content: '';

    background-image: url('../images/aggregator-banner.jpg');

    background-size: cover;

    background-repeat: no-repeat;

    width: 100%;

    height: 628px;

    position: absolute;

    top: 0;

    left: 0;

    z-index: -1;
}

.aggregator-section::before {
    content: '';

    background-image: url('../images/chart.png');

    background-size: cover;

    background-repeat: no-repeat;

    width: 510px;

    height: 220px;

    position: absolute;

    bottom: 40px;

    right: 10px;

    z-index: 2;
}

.aggregator-section h3 {
    font-family: 'Poppins';

    font-weight: 500;

    font-size: 35px;

    line-height: 46px;

    /* or 131% */

    text-align: center;

    letter-spacing: 0.692308px;

    color: #ffffff;

    max-width: 1220px;

    margin: 0 auto 50px;
}

.price-box-wrap {
    display: flex;

    justify-content: center;

    align-items: flex-end;
}

.price-box {
    background: #f5f5ff;

    border-radius: 15px;

    width: 540px;

    padding: 18px 45px 45px 45px;

    box-shadow: 0 0 460px 0px rgb(253 77 93 / 19%);

    position: relative;

    margin-top: 0;

    height: 622px;
}

.price-box.active {
    background: #fff;

    z-index: 99;

    margin-top: 0;

    height: 680px;

    padding-top: 57px;
}

.aggregator-body h6 {
    font-family: 'Montserrat';

    font-weight: 600;

    font-size: 37px;

    line-height: 60px;

    /* identical to box height, or 161% */

    color: #de106d;

    margin-bottom: 15px;
}

.price {
    font-family: 'Montserrat';

    font-weight: 600;

    font-size: 37px;

    line-height: 60px;

    /* identical to box height, or 161% */

    color: #de106d;

    margin-bottom: 15px;
}

.price-box span {
    font-family: 'Montserrat';

    font-weight: 600;

    font-size: 15px;

    line-height: 60px;

    /* identical to box height, or 298% */

    color: #ff1028;
}

.price-pills .nav-link {
    font-family: 'Nunito';

    font-weight: bold;

    font-size: 18px;

    line-height: 27px;

    /* or 140% */

    text-align: center;

    color: #0c0c0c;

    padding: 14px 35px;

    border-radius: 14px;
}

.price-pills {
    background: #f2e8e9;

    border-radius: 14px;

    width: max-content;

    margin-bottom: 20px;
}

.price-pills.nav-pills .nav-link.active,
.price-pills.nav-pills .show > .nav-link {
    background: #fd4e5e;

    box-shadow: 0px 19.4843px 23.8142px rgba(253, 78, 94, 0.4);

    color: #fff;
}

.aggregator-body {
    display: flex;

    flex-direction: column;

    height: 100%;
}

.price-box-wrap .tab-content {
    height: calc(100% - 35%);
}

.price-box-wrap .tab-pane {
    height: 100%;
}

.aggregator-body .btn-gradient {
    margin-top: auto;
}

.aggregator-body ul {
    list-style: none;

    padding: 0;

    margin: 0;

    position: relative;

    z-index: 9;
}

.aggregator-body ul li {
    display: flex;

    margin-bottom: 18px;
}

.aggregator-body ul li i {
    color: #eb1464;

    font-size: 18px;

    margin-right: 14px;

    margin-top: 1px;
}

.aggregator-body ul li p {
    font-family: 'Rubik';

    font-weight: normal;

    font-size: 17px;

    line-height: 130.5%;

    /* or 23px */

    letter-spacing: 0.281644px;

    color: #365186;
}

.btn-gradient {
    font-family: 'Rubik';

    font-weight: 500;

    font-size: 16px;

    line-height: 19px;

    /* identical to box height */

    text-align: center;

    text-transform: uppercase;

    color: #ffffff;

    background: linear-gradient(306.64deg, rgba(239, 13, 115, 0.45) 27.07%, rgba(247, 122, 28, 0.45) 71.29%), linear-gradient(0deg, #e8125c, #e8125c), #693cff;

    width: max-content;

    border-radius: 4rem;

    padding: 16px 30px;

    background-position: 300% 100%;

    position: relative;

    z-index: 9;
}

.btn-gradient:hover {
    background-position: 235px;

    color: #fff;
}

/*********************  crypto-aggregator Close  *******************/

/*********************  footer Start  *******************/

.social-icons {
    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 40px;
}

.social-icons li a {
    width: 45px;

    height: 45px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 100%;

    margin: 6px;
}

.facebook-icon {
    background: rgb(84 108 233 / 10%);

    color: #546ce9;
}

.facebook-icon:hover {
    background: #546ce9;

    color: #fff;
}

.twitter-icon {
    background: rgb(49 168 255 / 10%);

    color: #31a8ff;
}

.twitter-icon:hover {
    background: #31a8ff;

    color: #fff;
}

.dribble-icon {
    background: rgb(235 80 145 / 10%);

    color: #eb5091;
}

.dribble-icon:hover {
    background: #eb5091;

    color: #fff;
}

.copyright-wrap {
    display: flex;

    align-items: center;

    margin-bottom: 61px;
}

.language-location {
    display: flex;

    align-items: center;
}

.copyright-close {
    margin: 0 auto;

    font-family: 'Roboto';

    font-weight: 400;

    font-size: 15.2673px;

    line-height: 18px;

    color: #5d5f7c;

    opacity: 0.75;

    padding: 12px 20px;

    background: #ffffff;

    border: 0.54526px solid rgba(0, 0, 0, 0.2);

    box-sizing: border-box;

    box-shadow: 0px 21.8104px 43.6208px rgba(0, 0, 0, 0.05);

    border-radius: 109.052px;

    position: relative;

    left: -60px;
}

.copyright-close i {
    margin-left: 16px;

    margin-right: 5px;

    transition: all 0.5s;
}

.copyright-close:hover i {
    color: #fd4d5d;
}

.copyright {
    font-family: 'Roboto';

    font-weight: 400;

    font-size: 13.0863px;

    line-height: 15px;

    /* identical to box height */

    text-align: right;

    color: #5d5f7c;
}

.language-location li {
    margin-right: 40px;
}

.language-location li:nth-last-child(1) {
    margin: 0;
}

.language-location li a {
    font-family: 'Roboto';

    font-weight: 400;

    font-size: 15.2673px;

    line-height: 18px;

    color: #5d5f7c;

    opacity: 0.75;

    display: flex;

    align-items: center;

    transition: all 0.5s;
}

.language-location li a:hover {
    color: #73c0f0;
}

.language-location li a span {
    margin-right: 10px;
}

.contact-info {
    display: flex;

    justify-content: space-between;

    border-top: 1px solid rgb(155 153 240 / 40%);
}

.contact-info ul {
    display: flex;

    margin: 0 -45px;
}

.contact-info ul li a {
    display: flex;

    align-items: center;
}

.contact-info ul li a span {
    margin-right: 10px;
}

.contact-info ul li {
    padding: 40px 45px;
}

.contact-info ul li a p {
    font-family: 'Poppins';

    font-weight: normal;

    font-size: 16px;

    line-height: 28px;

    /* identical to box height, or 175% */

    color: #151517;

    margin: 0;

    transition: all 0.5s;
}

.contact-info ul li a:hover p {
    color: #fd4d5d;
}

.col-xl-60 {
    flex: 0 0 auto;

    width: 50%;
}

.col-xl-62 {
    flex: 0 0 auto;

    width: 50%;

    margin-left: auto;
}

.coin-laptop-video2 {
    width: 870px;

    display: block;

    margin-top: 130px;

    left: -131px;

    position: relative;
}

.accuracy-chart {
    width: 670px;

    left: -40px;

    position: relative;
}

.price-box.active .aggregator-body .btn-gradient {
    margin-bottom: 15px;
}

.price-box.active h5 {
    margin-bottom: 40px;
}

/*********************  footer Close  *******************/

/*********************  Analytics articles Start  *******************/

[class*='-ibg'] img,
[class*='-ibg'] iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*='-ibg_contain'] img {
    -o-object-fit: contain;
    object-fit: contain;
}

.analytics-articles {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.card-article {
    padding: 25px 32px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 19px;
    transition: all 0.5s ease 0s;
}

.card-article__title {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.98px;
    color: #000;
    margin: 0;
}

.card-article__image-ibg_contain {
    padding-bottom: 56%;
    position: relative;
}

.card-article__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.card-article__descr {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.98px;
    color: #000;
    flex: 1 1 auto;
}

.card-article__descr:not(:last-child) {
    margin-bottom: 15px;
}

.card-article__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.card-article__wrapper:not(:last-child) {
    margin-bottom: 5px;
}

.card-article__author {
    font-family: 'Epilogue';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.98px;
    color: #000;
    align-self: center;
}

.share-link {
    color: blue;
    font-size: 18px;
    flex: 1 1 auto;
    justify-self: flex-end;
    text-align: right;
}

.share-link:hover {
    text-decoration: underline;
}

.card-article__date {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.98px;
    color: #a2a2a2;
}

.article {
    padding: 50px 0;
    max-width: 1000px;
    margin: 0 auto;
}

/* .article::before {
    content: '';
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36.84%;
    background: linear-gradient(180deg, rgba(255, 254, 254, 0) 40.94%, #fff 100%);
    pointer-events: none;
} */

.article__item {
    background: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 19px;
    padding: 40px 90px;
}

.article__header:not(:last-child) {
    margin-bottom: 25px;
}

.article__title {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 35px;
    line-height: 1.27;
    letter-spacing: -0.98px;
    color: #000;
}

.article__title:not(:last-child) {
    margin-bottom: 5px;
}

.article__author {
    font-family: 'Epilogue';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.98px;
    color: #000;
}

.article__author:not(:last-child) {
    margin-bottom: 5px;
}

.article__date {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.98px;
    color: #a2a2a2;
}

/* 
.article__image-ibg_contain {
    padding-bottom: 56%;
}

.article__image-ibg_contain:not(:last-child) {
    margin-bottom: 50px;
} */

.article__image {
    width: 100%;
}

.article__image-ibg {
    padding-bottom: 56%;
}

.article__image img {
    width: 100%;
}

.article__image:not(:last-child) {
    margin-bottom: 50px;
}

.article__descr {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.98px;
    color: #000;
    flex: 1 1 auto;
}

@media (max-width: 991.98px) {
    .analytics-articles {
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }

    .article__item {
        padding: 30px 50px;
    }

    .article__image-ibg:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width: 768.98px) {
    .card-article {
        padding: 25px 20px 15px;
    }

    .article__item {
        padding: 30px 20px;
    }

    .article__title {
        font-size: 27px;
    }

    .article__image-ibg:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .analytics-articles {
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (any-hover: hover) {
    .card-article:hover {
        transform: translate(0px, -5px);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.45);
    }
}

/*********************  Analytics articles Close  *******************/

/*********************  Tabs button Start  *******************/

.my-btn-outline-warning {
    background-color: transparent;
    border-color: #d55400;
    color: #d55400;
    transition: all 0.3s ease 0s;
}
.my-btn-outline-warning:hover {
    background-color: #d55400;
    border-color: #d55400;
    color: #fff;
}
.my-btn-outline-warning:not(:disabled).active,
.my-btn-outline-warning:not(:disabled):active,
.show > .my-btn-outline-warning.dropdown-toggle {
    background-color: #d55400;
    border-color: #d55400;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-outline-success {
    color: #00bd9c;
    transition: all 0.3s ease 0s;
}
.btn-outline-success:hover {
    background-color: #00bd9c;
    border-color: #00bd9c;
}
.btn-outline-success:not(:disabled).active,
.btn-outline-success:not(:disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #00bd9c;
    border-color: #00bd9c;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-outline-info {
    transition: all 0.3s ease 0s;
}
.btn-outline-info:not(:disabled).active,
.btn-outline-info:not(:disabled):active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #00bd9c;
    border-color: #00bd9c;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.my-btn-outline-primary {
    background-color: transparent;
    border-color: #6464bc;
    color: #6464bc;
    transition: all 0.3s ease 0s;
}

.my-btn-outline-primary:hover {
    background-color: #6464bc;
    border-color: #6464bc;
    color: #fff;
}
.my-btn-outline-primary:not(:disabled).active,
.my-btn-outline-primary:not(:disabled):active,
.show > .my-btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #6464bc;
    border-color: #6464bc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*********************  Tabs button Close  *******************/

/*********************  Pay subscription  *******************/

/* .braintree-sheet__content--form 
.braintree-form__field-group 
.braintree-form__field .braintree-form__hosted-field {
    padding: 0;
} */

.dashboard-body {
    background: #ffffff;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
    border-radius: 11px;
    max-width: 500px;
    padding: 80px 40px;
    margin: 50px auto;
}

.dashboard-header {
    text-align: center;
    justify-content: center;
}

.dashboard-header-title:not(:last-child) {
    margin-bottom: 30px;
}

.dashboard-header h4 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 146.5%;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

#dropin-container:not(:last-child) {
    margin-bottom: 40px;
}

.braintree-loaded .braintree-sheet__container {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
}

.braintree-sheet {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
}

.braintree-sheet__header {
    display: none;
}

.braintree-sheet__content--form {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.braintree-sheet__content--form .braintree-form__field-group {
    margin: 0;
    padding: 0;
    flex: 1 1 60%;
}

.braintree-sheet__content--form .braintree-form__flexible-fields {
    padding: 0;
    margin: 0;
    flex: 1 1 20%;
}

.braintree-dropin .braintree-hidden {
    display: none;
}

.braintree-form__field-group label {
    width: 100%;
    margin: 0 0 2px 0;
}

.braintree-sheet__content--form .braintree-form__field-group.braintree-form__field-group--has-error .braintree-form__field-error {
    display: none;
}

.braintree-form__icon-container {
    display: none;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__label {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 10px;
    line-height: 146.5%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #b68282;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 2px;
}

.braintree-form__descriptor {
    display: none;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
    margin: 0;
    padding: 0;
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 8px 15px;
    background: #ffffff;
    box-shadow: inset 3px 2px 25px rgba(0, 0, 0, 0.11);
    height: 60px;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field:hover {
    border-color: transparent;
}

.braintree-form__hosted-field iframe {
    border-radius: 4px;
    position: relative;
}

.braintree-sheet__content--form .braintree-form__field-group.braintree-form__field-group--has-error {
    margin: 0;
}

/* .braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field::before {
    content: '';
    position: absolute;
    left: 17.2px;
    top: 50%;
    width: 80%;
    height: 30px;
    pointer-events: none;
    z-index: 1000;
    transform: translate(0, -50%);
    background: rgb(248,248,248);
    background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(248,248,248,1) 99%, rgba(248,248,248,0) 100%);
} */

#credit-card-number {
    padding: 5px 20px;
}

button.form-control-button {
    filter: drop-shadow(0px 4px 17px rgba(0, 0, 0, 0.25));
    background: #26a17b;
    box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 96.4%;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    width: auto;
    margin: 0 auto;
    border: none;
    transition: all 0.3s ease 0s;
}

button.form-control-button:hover {
    background-color: #198966;
}

#payment-form {
    overflow: visible;
}

.braintree-large-button {
    background-color: #fff;
    margin-top: 20px;
    padding: 0;
}

.braintree-method {
    width: 100%;
    padding: 8px 15px;
    border-radius: 7px;
    height: 60px;
    background: #ffffff;
    box-shadow: inset 3px 2px 25px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    border: none;
}

.braintree-heading {
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 10px;
    line-height: 146.5%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #b68282;
    margin: 0;
    padding: 0 0 0 10px;
}

.braintree-placeholder {
    margin: 0;
    padding: 0;
}

.braintree-method .braintree-method__icon {
    height: 35px;
    width: 35px;
    padding: 5px 6px 6px;
}

.braintree-methods.braintree-methods-initial {
    margin: 0 0 15px;
}

.braintree-show-card .braintree-placeholder {
    display: none;
}

.braintree-show-methods.braintree-show-card .braintree-placeholder {
    display: block;
}

.braintree-sheet--has-error .braintree-sheet {
    border: none;
    padding: 0 0 10px;
}

.braintree-sheet--has-error .braintree-sheet__error {
    background-color: #fff;
}

@media (max-width: 600px) {
    .dashboard-body {
        padding: 30px 15px;
    }

    .braintree-sheet__content--form {
        gap: 10px;
    }

    .braintree-sheet__content--form .braintree-form__field-group {
        flex: 1 1 55%;
    }

    .braintree-sheet__content--form .braintree-form__flexible-fields {
        flex: 1 1 22%;
    }

    .braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
        height: 50px;
        padding: 8px 10px;
    }

    .braintree-method {
        height: 50px;
        padding: 8px 10px;
    }
}

@media (max-width: 400px) {
    .braintree-sheet__content--form .braintree-form__field-group {
        flex: 1 1 100%;
    }

    .braintree-sheet__content--form .braintree-form__flexible-fields {
        flex: 1 1 100%;
    }
}

/*********************  Pay subscription  *******************/
