@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    min-width: 320px;
}

body {
    background-color: #fff;
    color: #000;
    line-height: 1;
    font-family: 'Epilogue';
    font-size: 1.25rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: 'Epilogue';
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

[class*='__container'] {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0 15px;
}

[class*='__container_big'] {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
}

.button-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 32px;
    -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.25);
    border-radius: 25.5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 96.4%;
    text-align: center;
    color: #ffffff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 229px;
    font-family: 'Epilogue';
}

.button-form_green {
    background-color: #26a17b;
}

.button-form_red {
    background-color: #fe4d5d;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    font-family: 'Epilogue';
    font-size: 20px;
    width: 100%;
    display: block;
    padding: 0px 20px;
    border: 1px solid #eee;
    background: #ffffff;
    -webkit-box-shadow: inset 3px 2px 20px rgba(0, 0, 0, 0.11);
    box-shadow: inset 3px 2px 20px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    padding: 10px 20px;
}

.input_promocode {
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input_promocode::-webkit-input-placeholder {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #cdcdcd;
}

.input_promocode::-moz-placeholder {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #cdcdcd;
}

.input_promocode:-ms-input-placeholder {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #cdcdcd;
}

.input_promocode::-ms-input-placeholder {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #cdcdcd;
}

.input_promocode::placeholder {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #cdcdcd;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
    opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
    opacity: 0;
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}

.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.options__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.options__item_payment {
    border-top: 2px solid #ddd5d5;
    padding: 30px 0;
}

.options__item_prices {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.subscription-confirmation_ballz .options__item_prices {
    background: #26a17b;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.subscription-confirmation_ballz .options__item_annually {
    border: 2px solid rgba(0, 0, 0, 0.25);
    background: #acfbc2;
}

.options__description {
    font-family: 'Epilogue';
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.98px;
    color: #000000;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.options__price {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 57px;
    line-height: 1;
    letter-spacing: -0.98px;
    color: #26a17b;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.subscription-confirmation_bronze .options__price {
    color: #26a17b;
}

.subscription-confirmation_silver .options__price {
    color: #c8858b;
}

.subscription-confirmation_ballz .options__price {
    color: #fff;
}

.subscription-confirmation_bronze .options__item_annually .options__price {
    color: rgba(0, 255, 176, 0.95);
}

.subscription-confirmation_silver .options__item_annually .options__price {
    color: #fe4d5d;
}

.subscription-confirmation_ballz .options__item_annually .options__price {
    color: #26a17b;
}

.options__subprice {
    font-family: 'Epilogue';
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.98px;
    color: #26a17b;
}

.subscription-confirmation_bronze .options__subprice {
    color: #26a17b;
}

.subscription-confirmation_silver .options__subprice {
    color: #c8858b;
}

.subscription-confirmation_ballz .options__subprice {
    color: #fff;
}

.subscription-confirmation_bronze .options__item_annually .options__subprice {
    color: rgba(0, 255, 176, 0.95);
}

.subscription-confirmation_silver .options__item_annually .options__subprice {
    color: #fe4d5d;
}

.subscription-confirmation_ballz .options__item_annually .options__subprice {
    color: #26a17b;
}

.options__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.options__input:focus + .options__label:before {
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label:after {
    -webkit-transform: translate(0, -50%) scale(1);
    -ms-transform: translate(0, -50%) scale(1);
    transform: translate(0, -50%) scale(1);
}

.options__item_prices .options__input:checked + .options__label:after {
    -webkit-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
}

.options__discount {
    width: 57px;
    height: 57px;
    background: rgba(0, 255, 176, 0.95);
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: -15px;
    top: -15px;
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.98px;
    color: #000000;
}

.subscription-confirmation_bronze .options__discount {
    background-color: rgba(0, 255, 176, 0.95);
    color: #fff;
}

.subscription-confirmation_silver .options__discount {
    background-color: #fc4c5c;
    color: #fff;
}

.subscription-confirmation_ballz .options__discount {
    background-color: rgba(0, 255, 176, 0.95);
    color: #000;
}

.options__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
}

.options__item_prices .options__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 25px;
}

.options__item_prices .options__label::before {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.options__item_prices .options__label::after {
    left: 50%;
    top: 20.5px;
    -webkit-transform: translate(-50%, 0) scale(0);
    -ms-transform: translate(-50%, 0) scale(0);
    transform: translate(-50%, 0) scale(0);
}

.options__label:before {
    content: '';
    width: 27px;
    height: 27px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 27px;
    flex: 0 0 27px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #9d9d9d;
    -webkit-box-shadow: inset 1px 1px 16px 2px rgba(0, 0, 0, 0.11);
    box-shadow: inset 1px 1px 16px 2px rgba(0, 0, 0, 0.11);
}

.options__label:after {
    content: '';
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #26a17b;
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translate(0, -50%) scale(0);
    -ms-transform: translate(0, -50%) scale(0);
    transform: translate(0, -50%) scale(0);
}

.options__text {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 25px;
    line-height: 85%;
    letter-spacing: 0.06em;
    color: #26a17b;
}

.options__icons {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.options__icon {
    max-width: 58px;
    max-height: 36px;
    width: 100%;
    margin: 0;
}

[class*='-ibg'] {
    position: relative;
}

[class*='-ibg'] img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*='-ibg_contain'] img {
    -o-object-fit: contain;
    object-fit: contain;
}

.block-modal {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
    border-radius: 11px;
    max-width: 500px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
}

.block-modal__form:not(:last-child) {
    margin-bottom: 20px;
}

.block-modal__title {
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
}

.block-modal__title_red {
    color: #fe4d5d;
}

.block-modal__title_green {
    color: #26a17b;
}

.block-modal__title:not(:last-child) {
    margin-bottom: 30px;
}

.block-modal__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 115.4%;
    text-align: center;
    color: #000000;
    max-width: 350px;
    margin: 0 auto;
}

.block-modal__description:not(:last-child) {
    margin-bottom: 30px;
}

.block-modal__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.block-modal__links {
    text-align: center;
}

.block-modal__link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 115.4%;
    text-align: center;
    text-decoration-line: underline;
    color: #c8a1a1;
}

.subscription-confirmation {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
}

.subscription-confirmation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subscription-confirmation__block {
    padding: 60px 50px 85px;
}

.form__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 12px;
}

.form__prices:not(:last-child) {
    margin-bottom: 50px;
}

.form__promocode:not(:last-child) {
    margin-bottom: 45px;
}

.form__billed {
    text-align: center;
    font-family: 'Epilogue';
    font-weight: 600;
    font-size: 20px;
    line-height: 146.5%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}

.form__billed:not(:last-child) {
    margin-bottom: 30px;
}

.form__payment:not(:last-child) {
    margin-bottom: 20px;
}

.form__items:not(:last-child) {
    margin-bottom: 40px;
}

.form__item:not(:last-child) {
    margin-bottom: 15px;
}

.form__item {
    position: relative;
}

.form__body {
    position: relative;
    width: 100%;
}

.form__viewpass {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 25px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.form__viewpass::before {
    content: '';
    background: url('../images/closed-eye.svg') center no-repeat;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 20px;
    height: 20px;
    display: block;
}

.form__viewpass._viewpass-active::before {
    background: url('../images/eye.svg') center no-repeat;
}

.input__pass {
    padding-right: 60px;
}

/* Pasword validation */

.pass-message {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px;
    border-radius: 7px;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transform: translate(0, 8px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.pass-message.show-message {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.pass-message :not(:last-child) {
    margin-bottom: 15px;
}

.pass-message__item {
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-family: 'Epilogue';
    font-weight: 400;
}

.pass-message__title {
    font-size: 18px;
    font-family: 'Epilogue';
    font-weight: 400;
}

.pass-message__item.valid {
    color: green;
}

.pass-message__item.valid:before {
    content: '✔';
}

.pass-message__item.invalid {
    color: red;
}

.pass-message__item.invalid:before {
    content: '✖';
}

.form__error {
    padding-top: 10px;
    color: red;
    font-size: 15px;
    font-weight: 400;
    line-height: 146.5%;
    padding-left: 5px;
    font-family: 'Epilogue';
    font-weight: 400;
}

.input._form-error {
    border-color: red;
}

.form-err-message {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .form-err-message:not(:last-child) {
    margin-bottom: 15px;
} */

/* Password validation */

.form__label {
    cursor: pointer;
    font-family: 'Epilogue';
    font-weight: 400;
    font-size: 12px;
    line-height: 146.5%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #b68282;
    padding: 5px;
    margin: 0;
}

.form__input {
    min-height: 66px;
}

.form__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__actions:not(:last-child) {
    margin-bottom: 10px;
}

.form__error {
    padding-top: 10px;
    color: red;
    font-size: 17px;
    font-weight: 400;
    line-height: 146.5%;
}

.promocode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
    position: relative;
}

.promocode__button {
    min-width: auto;
}

.promocode .form__error {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 90%);
    -ms-transform: translate(0, 90%);
    transform: translate(0, 90%);
}

.forgot-password {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.forgot-password::before {
    content: '';
    width: 30%;
    height: 74%;
    left: 0;
    top: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
}

.forgot-password::after {
    content: '';
    width: 48%;
    height: 71%;
    right: 0;
    bottom: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(40%, 45%) rotate(100deg);
    -ms-transform: translate(40%, 45%) rotate(100deg);
    transform: translate(40%, 45%) rotate(100deg);
}

.forgot-password__container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.forgot-password__block {
    padding: 60px 45px 30px;
}

.check-email {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.check-email::before {
    content: '';
    width: 30%;
    height: 74%;
    left: 0;
    bottom: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(-30%, 60%);
    -ms-transform: translate(-30%, 60%);
    transform: translate(-30%, 60%);
}

.check-email::after {
    content: '';
    width: 46%;
    height: 40%;
    right: 0;
    top: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    border-radius: 0 0 30% 50%;
    position: absolute;
    -webkit-transform: translate(0%, -35%) rotate(-140deg);
    -ms-transform: translate(0%, -35%) rotate(-140deg);
    transform: translate(0%, -35%) rotate(-140deg);
}

.check-email__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 100px;
}

.check-email__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 740px;
    flex: 0 1 740px;
}

.check-email__image-ibg {
    padding-bottom: 100%;
}

.check-email__block {
    padding: 75px 45px 70px;
}

.restore-password {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.restore-password::before {
    content: '';
    width: 30%;
    height: 74%;
    left: 0;
    top: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
}

.restore-password::after {
    content: '';
    width: 48%;
    height: 71%;
    right: 0;
    bottom: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(40%, 45%) rotate(100deg);
    -ms-transform: translate(40%, 45%) rotate(100deg);
    transform: translate(40%, 45%) rotate(100deg);
}

.restore-password__container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.restore-password__block {
    padding: 60px 45px;
}

.thanks {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.thanks::before {
    content: '';
    width: 30%;
    height: 74%;
    left: 0;
    bottom: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    -webkit-transform: translate(-30%, 60%);
    -ms-transform: translate(-30%, 60%);
    transform: translate(-30%, 60%);
}

.thanks::after {
    content: '';
    width: 46%;
    height: 40%;
    right: 0;
    top: 0;
    background: #26a17b;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    border-radius: 0 0 30% 50%;
    position: absolute;
    -webkit-transform: translate(0%, -35%) rotate(-140deg);
    -ms-transform: translate(0%, -35%) rotate(-140deg);
    transform: translate(0%, -35%) rotate(-140deg);
}

.thanks__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
}

.thanks__block {
    padding: 60px;
}

.notification {
    width: 100%;
    min-height: 50px;
    padding: 5px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    transform: translate(0, -100%);
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    background-color: rgb(46, 204, 113);
    border-bottom: 6px solid rgb(39, 174, 96);
    opacity: 0;
}

.notification.show {
    transition: all 0.5s ease 0s;
    transform: translate(0);
    opacity: 1;
}

.notification_error {
    background-color: rgb(231, 76, 60);
    border-bottom: 6px solid rgb(192, 57, 43);
}

.notification_success {
    background-color: rgb(46, 204, 113);
    border-bottom: 6px solid rgb(39, 174, 96);
}

.notification__container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.notification__message {
    text-align: center;
    color: #fff;
    font-family: 'Inter';
    font-size: 20px;
}

@media (max-width: 991.98px) {
    .check-email__container {
        gap: 20px;
    }

    .thanks__container {
        gap: 20px;
    }
}

@media (max-width: 767.98px) {
    .options__price {
        font-size: 42px;
    }

    .options__item_prices .options__label {
        padding: 15px;
    }

    .block-modal {
        padding: 30px 15px 40px;
    }

    .block-modal__title {
        font-size: 35px;
    }

    .subscription-confirmation {
        padding: 0;
    }

    .subscription-confirmation__block {
        padding: 30px 15px 40px;
    }

    .forgot-password {
        padding: 30px 0;
    }

    .forgot-password__block {
        padding: 30px 15px 40px;
    }

    .check-email {
        padding: 30px 0;
    }

    .check-email__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .check-email__wrapper {
        display: none;
    }

    .check-email__block {
        padding: 30px 15px 40px;
    }

    .restore-password {
        padding: 30px 0;
    }

    .restore-password__block {
        padding: 30px 15px 40px;
    }

    .thanks {
        padding: 30px 0;
    }

    .thanks__block {
        padding: 60px 25px;
    }
}

@media (max-width: 480px) {
    .subscription-confirmation__container {
        padding: 0;
    }
}

.label-require {
    color: red;
}
